.hero__info {
    .container {
        width: 1280px;
        border-radius: 10px;
        background-color: #2C343E;
        margin: 0 auto;
        margin-top: 160px;
        padding: 0;
        padding-top: 50px;


        .info__box {
            width: 760px;
            height: 1px;
            background-color: #FDD6BA;
            display: flex;
            display: inline-block;
            margin: 0 auto;
            margin-left: 100px;
            padding: 0;
            transform: translateY(50px);


            .info__span {
                width: 2px;
                border: 2px solid #0E8784;
                width: 31px;
                height: 31px;
                display: block;
                border-radius: 50%;
                margin: 0;
                padding: 0;
                transform: translate(-16px, -18px);

                &:nth-child(2) {
                    margin-top: -34px;
                    margin-left: 379px;
                }

                &:nth-child(3) {
                    margin-top: -33px;
                    margin-left: 757px;
                }
            }
        }


        .info__list {
            width: 1045px;
            display: flex;
            gap: 95px;
            margin: 0;
            margin-left: 85px;
            padding: 0;


            .info__item {
                width: 285px;


                .info__text {
                    color: #FDD6BA;
                    font-family: "Fraunces";
                    font-size: 72px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 72px;
                    margin: 0;
                    margin-top: 120px;
                    padding: 0;
                }


                .info__heading--2 {
                    width: 255px;
                    color: #FEFCF7;
                    font-family: "Fraunces";
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 36px;
                }


                .info__text--p {
                    color: #FEFCF7;
                    font-family: "Barlow";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    padding-bottom: 99px;
                }
            }
        }
    }
}